* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 20%;
	background-color: #f1f1f1;
	overflow-y: scroll;
	/* height: 100vh; */
}

.sidebar {
  /* overflow-x: scroll; */
  overflow-y: scroll;
  height: 100vh;
}

.main {
	flex: 80%;
	background-color: white;
	padding: 20px;
}

.main-sub {
	display: flex;
	flex-wrap: wrap;
}

.side-img {
	background-color: #aaa;
  padding: 5px 10px;
  /* width: 250px; */
}

.side-img img {
	max-width: 100%;
}

.main-img {
	width: 25%;
	padding: 10px;
}

.main-img img {
	width: 100%;
}
